<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <context-param>
        <param-name>oauth.providers</param-name>
        <param-value>twitter,facebook,google</param-value>
    </context-param>
    <context-param>
        <param-name>twitter.api.key</param-name>
        <param-value>${twitter.api.key}</param-value>
    </context-param>
    <context-param>
        <param-name>twitter.api.secret</param-name>
        <param-value>${twitter.api.secret}</param-value>
    </context-param>
    <context-param>
        <param-name>twitter.key</param-name>
        <param-value>TW</param-value>
    </context-param>
    <context-param>
        <param-name>twitter.processor</param-name>
        <param-value>java:app/OAuthLogin/TwitterOAuthProcessor</param-value>
    </context-param>
    <context-param>
        <param-name>facebook.api.key</param-name>
        <param-value>${facebook.api.key}</param-value>
    </context-param>
    <context-param>
        <param-name>facebook.api.secret</param-name>
        <param-value>${facebook.api.secret}</param-value>
    </context-param>
    <context-param>
        <param-name>facebook.key</param-name>
        <param-value>FB</param-value>
    </context-param>
    <context-param>
        <param-name>facebook.processor</param-name>
        <param-value>java:app/OAuthLogin/FacebookOAuthProcessor</param-value>
    </context-param>
    <context-param>
        <param-name>google.api.key</param-name>
        <param-value>${google.api.key}</param-value>
    </context-param>
    <context-param>
        <param-name>google.api.secret</param-name>
        <param-value>${google.api.secret}</param-value>
    </context-param>
    <context-param>
        <param-name>google.key</param-name>
        <param-value>GG</param-value>
    </context-param>
    <context-param>
        <param-name>google.processor</param-name>
        <param-value>java:app/OAuthLogin/GoogleOAuthProcessor</param-value>
    </context-param>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>cz.literak.oauth.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OAuthHandshake</servlet-name>
        <servlet-class>cz.literak.oauth.servlets.OAuthHandshakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindUserJson</servlet-name>
        <servlet-class>cz.literak.oauth.servlets.FindExistingUserServlet</servlet-class>
    </servlet>
    <servlet>
        <!--suppress ServletWithoutMappingInspection -->
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>cz.literak.oauth.servlets.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>OAuthCallback</servlet-name>
        <servlet-class>cz.literak.oauth.servlets.OAuthCallbackServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OAuthHandshake</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAuthCallback</servlet-name>
        <url-pattern>/callback/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindUserJson</servlet-name>
        <url-pattern>/api/find-user</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>cz.literak.oauth.servlets.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
            <!--suppress WebProperties -->
        <filter-name>CDI Conversation Filter</filter-name>
            <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
